<app-popup #signPopup>
  <app-sign (hideSignPopup)="hideSignPopup()"></app-sign>
</app-popup>

<div class="header">
  <div class="header-container">
    <div class="menu-container">
      <a *ngIf="isAdmin()"
         [routerLink]="['/product/new']"
         routerLinkActive="active">
      {{'PRODUCT.HEADER_NEW_PRODUCT_LABEL' | translate}}
      </a>

      <a [routerLink]="['/products']"
         routerLinkActive="active">
        {{'PRODUCT.HEADER_PRODUCTS_LABEL' | translate}}
      </a>

      <a *ngIf="productId"
         [routerLink]="['/product-details', productId]"
         [class.active]="isActive(['/product-details', productId])">
        {{productName}}
      </a>
    </div>

    <div class="sign-container">
      <a *ngIf="!isLogged()"
         (click)="showSignPopup()">
        {{'SIGN.FORM_LABEL_SIGN_IN' | translate}} / {{'SIGN.FORM_LABEL_SIGN_UP' | translate}}
      </a>
      <a *ngIf="isLogged()"
         (click)="logout()">
        {{'SIGN.FORM_LABEL_LOGOUT' | translate}}
      </a>
    </div>
  </div>
</div>

