@import "../../../assets/styles/variables";

.search {
  margin: 10px 40px;
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  align-items: center;
  flex-direction: column;

  .products-list {
    width: 100%;
    max-width: $site-max-width;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .product-element {
      width: 300px;
      cursor: pointer;
      margin: 10px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px dotted $transparent-black5;
      .image {
        margin: 5px;
        height: 90px;
        width: 90px;
        img {
          height: 90px;
          width: 90px;
          object-fit: cover;

          &[src=''], &[src=null] {
            display: none;
          }
        }
      }

      .details {
        width: calc(100% - 100px);
        .ratings {
          &:before {
            content: '☆';
          }
        }
        .description {
          display: flex;
          align-items: center;
          .collapse-text {
            flex: 1;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .name {
          font-weight: 800;
        }
        .price {
          &:before {
            content: '$';
          }
        }
      }

      &:hover {
        background: $transparent-black1;
      }
    }
  }

}
