<div class="products-list">
  <div *ngFor="let product of products"
       (click)="goToDetails(product)"
       class="product-element">
    <div class="image">
      <img [src]="getImageUrl(product.picture)"/>
    </div>
    <div class="details">
      <div class="name">
        {{product.name}}
      </div>
      <div class="description">
        {{product.descriptions}}
      </div>
      <div class="ratings">
        {{'PRODUCT.FORM_LABEL_RATING' | translate}}: {{product.rating}}
      </div>
    </div>

  </div>
</div>
