<div class="add-comment" *ngIf="isLogged()">
  <div class="comment">
    <mat-form-field>
      <input [(ngModel)]="newComment.descriptions"
             placeholder="{{'COMMENT.ADD_DESCRIPTIONS' | translate}}" matInput>
    </mat-form-field>
  </div>
  <div class="button">
    <button mat-raised-button color="primary"
            [disabled]="!newComment.descriptions"
            (click)="addComment()">
      {{'COMMENT.ADD_BUTTON' | translate}}
    </button>
  </div>


</div>

<div class="comments">
  <div *ngFor="let comment of product.comments" class="comment-element">

    <div class="info">
      <div class="date">
        {{comment.date | date: 'dd/MM/yyyy HH:mm'}}
      </div>
      <div class="username">
        {{comment.username}}
      </div>
    </div>

    <div class="descriptions">
      {{comment.descriptions}}
    </div>

  </div>
</div>
