<div class="add-rating">
  <div class="comment">
    <mat-form-field>
      <input [(ngModel)]="newRating.comment"
        placeholder="{{'RATINGS.ADD_DESCRIPTIONS' | translate}}" matInput>
    </mat-form-field>
  </div>
  <div class="rating">
    <span *ngFor="let rating of ratingsNumber"
          [class.active]="rating <= newRating.rating"
          (click)="setRating(rating)">
      ☆
    </span>
  </div>
  <div class="button">
    <button mat-raised-button color="primary" (click)="addRating()">
      {{'RATINGS.ADD_BUTTON' | translate}}
    </button>
  </div>


</div>

<div class="ratings">
  <div class="rating-element">

  </div>
</div>
