@import "../../../../assets/styles/variables";

.comments {
  padding: 10px 30px 10px 20px;
  .comment-element {
    width: 100%;
    padding: 10px 0 0 0;
    border-bottom: 1px dotted $transparent-black5;

    .descriptions {
      padding-left: 10px;
    }

    .info {
      display: flex;
      flex-direction: row;
      font-size: $small-font;
      .date {

      }
      .username {
        padding-left: 10px;
        font-weight: 800;
      }
    }
  }
}

.add-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px dotted $transparent-black3;
  .comment {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    input {
      width: 100%;
    }
  }
  .button {

  }
}


